# .env.example
GEMINI_API_KEY=
VAPID_PUBLIC_KEY=
VAPID_PRIVATE_KEY=
VAPID_SUBJECT=mailto:example@example.com
SUPABASE_URL=https://biuixkfzaitqygfuvwig.supabase.co
SUPABASE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImJpdWl4a2Z6YWl0cXlnZnV2d2lnIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzI3OTAxNDMsImV4cCI6MjA4ODM2NjE0M30.c78p3gpnt5doYOrcL0cp075r3AgMH6dpeEgsxFUkpR0
